// color
$fv-color-blue1: #0275D8;
$fv-color-blue2: #BEE1FF;
$fv-color-yellow: #F5A623;
$fv-color-gray: #9B9B9B;

// font
$cv-font-title: normal 300 48px 'Roboto', sans-serif;
$cv-font-subtitle: normal 300 24px 'Roboto', sans-serif;
$cv-font-form: normal 400 20px 'Roboto', sans-serif;
$cv-font-lable: normal 400 14px 'Roboto', sans-serif;
