// color
$fv-color-blue2: #BEE1FF;
$fv-color-gray: #9B9B9B;
$fv-color-gray2: #999999;

// font
$cv-font-title: normal 300 48px 'Roboto', sans-serif;
$cv-font-subtitle: normal 300 24px 'Roboto', sans-serif;
$cv-font-form: normal 400 20px 'Roboto', sans-serif;
$cv-font-lable: normal 400 14px 'Roboto', sans-serif;
